@media (min-width: 768px) { 
	.container-form {
		text-align: center;
		width: 40%;
	}
	.content-img {
		border-radius: 10px;
		box-shadow: 3px 3px #e8eaeb;
		padding:0 10px 10px 10px;
	}
	.user-img  {
		float: right;
	}
	.content-admin {
		margin-top: 20px;
	}
	.Search-mentor input {
		width: 50%;
		border-radius: 10px;
		height: 50px;
		margin-bottom: 10px;
		border: 1px solid #000;
		margin-right: 40px;
		padding-left: 20px;
	}
	.Search-mentor button {
		width: 20%;
		border-radius: 10px;
		height: 50px;
		margin-bottom: 10px;
		border: none;
	}
	.Search-mentor {
		margin-left: 100px;

	}
}