<!DOCTYPE html>
<html>
<head>
	<title>My Personal Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/application.css">
</head>
<body>
	<!--start heading page-->
	<nav id="main-nav">
		<div class="container-fluid">
			<div class="logo"><a href="#"><img src="img/TECHADEMY.jpg"></a></div>
			<ul class="nav-manu">
				<li><a href="#header" class="smoothScroll">Home</a></li>
				<li><a href="#header" class="smoothScroll">About</a></li>
				<li><a href="#header" class="smoothScroll">Portfolip</a></li>
				<li><a href="#header" class="smoothScroll">Blog</a></li>
				<li><a href="#header" class="smoothScroll">Contact</a></li>
			</ul>
		</div>
		
	</nav>
  	<!--end heading page-->


	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
</body>
</html>