<!DOCTYPE html>
<html lang="en">
	<head>		
		<title>Learning Techademy</title>
		<meta charset="utf-8">	
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<link rel="stylesheet" type="text/css" href="css/media768.css">
		<link rel="stylesheet" type="text/css" href="css/media1024.css">
	</head>
<body>
	<header class="head-mentor">
		<span class="glyphicon glyphicon-menu-hamburger"></span>
		<h4 class="logo">techademy</h4>
	</header>

	<div class="container-fluid content-table">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-3">
				<div class="content-mentor">
					<img src="../img/user.jpg">
						<div class="mentor-right">
							<span>David Beckham</span>
							<span><a href="#">davidback@gmail.com</a></span>
						</div>
				</div><hr>
				<ul class="content-admin1 mt-3">
					<li><a href="#">Dashboard</a></li>
					<li><a href="userManagement.html">User Management</a></li>
					<li><a href="#">Session Management</a></li>
					<li><a href="userCategory.html">Mentor Assignment</a></li>
					<li><a href="#">Micro-Tutoring</a></li>
					<li><a href="#">Admin Announcements</a></li>
					<li><a href="#">Polly & Surveys</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="#">Reports</a></li>
					<li><a href="#">Integrations</a></li>
					<li><a href="#">Suppot</a></li>
				</ul>
			</div>
			<div class="col-12 col-sm-12 col-md-8 col-lg-9 mt-3">
				<h5 class="table-head">Mentor Assignment</h5>
				<table class="table mt-4">
					<thead>
						<tr>
							<th>S.No</th>
							<th>Mentor ID</th>
							<th>Mentor Name</th>
							<th>Mentor ID</th>
							<th>Mentor Name</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>111</td>
							<td>David</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span>
								<div class="edit-del">
									<span class="glyphicon glyphicon-pencil">Edit</span><br>
									<span class="glyphicon glyphicon-trash">Delete</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td>222</td>
							<td>Thomas</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>3</td>
							<td>333</td>
							<td>David</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>4</td>
							<td>444</td>
							<td>Thomas</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>5</td>
							<td>555</td>
							<td>David</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>6</td>
							<td>666</td>
							<td>Thomas</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>7</td>
							<td>777</td>
							<td>David</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>8</td>
							<td>888</td>
							<td>Thomas</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>9</td>
							<td>999</td>
							<td>David</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>10</td>
							<td>1000</td>
							<td>Thomas</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>11</td>
							<td>1100</td>
							<td>Thomas</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
						<tr>
							<td>12</td>
							<td>1200</td>
							<td>Thomas</td>
							<td>456</td>
							<td>Richard</td>
							<td><span class="glyphicon glyphicon-option-vertical"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div>
		
	</div>
	<script type="text/javascript" src="js/application.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
</body>
</html>