* {
	margin:0;
	padding:0;
	font-family: serif, sans-serif;
}
ul,li {
	list-style-type: none;
}
a, a:hover, a:active, a:focus, a:visited {
  text-decoration: none; 
  color: #fff;
  
}
a:hover {
	color:#fff;
}
.logo {
	background-image: url("../img/techademy.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 240px;
	height: 50px;
	padding-left: 10px;
	z-index: 0;
	color: transparent;
	font-weight: 30px;
}
#main-nav {
	background-image: url("../img/mod image.jpeg");
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
	padding: 50px 10px;
}
.hamgurger {
	float: right;
	font-size: 30px;
	padding-right: 10px;
	margin-top: -51px;
	color: #fff;
}
.nav-manu {
	display: none;
	position: absolute;
	z-index: 1;
	padding:10px 20px;
	margin-left: -10px;
	background-color: #66c2ff;
	width: 100%;
	line-height: 1.5em;
	font-size: 25px;

}
.nav-manu a {
	color: #00FFFF;
	text-transform: uppercase;
	padding-right: 50px;
}
#section1 {
	background-color: #3639f7;
	padding:40px 0;
}
.tech-mentor h1 {
	text-align: center;
}
.tech-mentor p{
	text-align: justify;
	font-size: 20px;
}
#login-form {
	width: 100%;
	height: 250px;
	background-color: #fff;
	padding:10px 20px;
	margin: 10px 10px;
	box-shadow: 4px 4px;
	border-radius: 5px;
}
#login-form a{
	color: blue;
}
.head-login {
	 background: linear-gradient(to right, #ff3300 20%,#ff9900 100%);
	box-shadow: 2px 2px;
	border-radius: 2px;
	height: 60px;
	margin-top: -38px;
	padding: 10px 15px;
}
.button-login {
	background-color: #ca36f7;
	margin-top: -25px;
	float: right;
}
#content-mod {
	margin-top: 0px;
	padding: 20px 20px;
	text-align: center;
}
.font-set {
	font-size: 50px;
}
#exampleModalLabel {
	margin-left: 150px;
	font-size: 25px;
}
#reset-pass {
	background-color: #ca36f7;
	margin-right: 176px;
	width: 100px;
	height: 40px;
	border-radius: 5px;
}

/*-------------start about -------------------------------*/
.slide-left-head{
	background-color: #f0f0f5;
	padding: 20px 20px;
	box-shadow: 3px 3px;
}

/*-------------// end about -------------------------------*/











@media screen and (min-device-width: 769px) {
	.nav-manu {
		display:inline-flex;
		flex-direction: row;
		justify-content: flex-end; 
		font-size: 20px;
		padding-right: 10px;
		margin-top: -50px;
		width: 75%;
		right:0px;
		background-color: transparent;
	}
	.nav-manu li {
		padding-right: 15px;

	}
	.hamgurger {
		display: none;
	}
	#content-mod  {
		margin-top: 0px;
	}
}